*.py[co]
*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.sql
*.bz2

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

local_settings.py
.sass-cache
.DS_Store

# system directories
log
run
media
public

# supervisor
etc/localvisor.conf